<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLocationLabel" jhiTranslate="jDiasApp.location.home.createOrEditLabel">Create or edit a Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!location.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="location.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.location.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="location.address"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.location.lat" for="field_lat">Lat</label>
            <input type="number" class="form-control" name="lat" id="field_lat"
                [(ngModel)]="location.lat"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.location.lng" for="field_lng">Lng</label>
            <input type="number" class="form-control" name="lng" id="field_lng"
                [(ngModel)]="location.lng"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
