
<div *ngIf="aspectMembership">
    <h2><span jhiTranslate="jDiasApp.aspectMembership.detail.title">Aspect Membership</span> {{aspectMembership.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jDiasApp.aspectMembership.createdAt">Created At</span></dt>
        <dd>
            <span>{{aspectMembership.createdAt | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspectMembership.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{aspectMembership.updatedAt | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspectMembership.aspect">Aspect</span></dt>
        <dd>
            <div *ngIf="aspectMembership.aspect">
                <a [routerLink]="['/aspect', aspectMembership.aspect?.id]">{{aspectMembership.aspect?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspectMembership.contact">Contact</span></dt>
        <dd>
            <div *ngIf="aspectMembership.contact">
                <a [routerLink]="['/contact', aspectMembership.contact?.id]">{{aspectMembership.contact?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspectMembership.userAccount">User Account</span></dt>
        <dd>
            <div *ngIf="aspectMembership.userAccount">
                <a [routerLink]="['/user-account', aspectMembership.userAccount?.id]">{{aspectMembership.userAccount?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'aspect-membership/'+ aspectMembership.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
