<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventLabel" jhiTranslate="jDiasApp.event.home.createOrEditLabel">Create or edit a Event</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!event.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="event.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.event.author" for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                [(ngModel)]="event.author"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.event.guid" for="field_guid">Guid</label>
            <input type="text" class="form-control" name="guid" id="field_guid"
                [(ngModel)]="event.guid"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.event.summary" for="field_summary">Summary</label>
            <input type="text" class="form-control" name="summary" id="field_summary"
                [(ngModel)]="event.summary"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.event.start" for="field_start">Start</label>
            <div class="input-group">
                <input id="field_start" type="text" class="form-control" name="start" ngbDatepicker  #startDp="ngbDatepicker" [(ngModel)]="event.start"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.event.end" for="field_end">End</label>
            <div class="input-group">
                <input id="field_end" type="text" class="form-control" name="end" ngbDatepicker  #endDp="ngbDatepicker" [(ngModel)]="event.end"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="endDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.event.allday" for="field_allday">Allday</label>
            <input type="checkbox" class="form-control" name="allday" id="field_allday"
                [(ngModel)]="event.allday"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.event.timezone" for="field_timezone">Timezone</label>
            <input type="text" class="form-control" name="timezone" id="field_timezone"
                [(ngModel)]="event.timezone"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.event.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="event.description"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
