<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonLabel" jhiTranslate="jDiasApp.person.home.createOrEditLabel">Create or edit a Person</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!person.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="person.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.person.guid" for="field_guid">Guid</label>
            <input type="text" class="form-control" name="guid" id="field_guid"
                [(ngModel)]="person.guid"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.person.diasporaId" for="field_diasporaId">Diaspora Id</label>
            <input type="text" class="form-control" name="diasporaId" id="field_diasporaId"
                [(ngModel)]="person.diasporaId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.person.serializedPublicKey" for="field_serializedPublicKey">Serialized Public Key</label>
            <input type="text" class="form-control" name="serializedPublicKey" id="field_serializedPublicKey"
                [(ngModel)]="person.serializedPublicKey"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.person.createdAt" for="field_createdAt">Created At</label>
            <div class="input-group">
                <input id="field_createdAt" type="text" class="form-control" name="createdAt" ngbDatepicker  #createdAtDp="ngbDatepicker" [(ngModel)]="person.createdAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.person.updatedAt" for="field_updatedAt">Updated At</label>
            <div class="input-group">
                <input id="field_updatedAt" type="text" class="form-control" name="updatedAt" ngbDatepicker  #updatedAtDp="ngbDatepicker" [(ngModel)]="person.updatedAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="updatedAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.person.closedAccount" for="field_closedAccount">Closed Account</label>
            <input type="checkbox" class="form-control" name="closedAccount" id="field_closedAccount"
                [(ngModel)]="person.closedAccount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.person.fetchStatus" for="field_fetchStatus">Fetch Status</label>
            <input type="number" class="form-control" name="fetchStatus" id="field_fetchStatus"
                [(ngModel)]="person.fetchStatus"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.person.podId" for="field_podId">Pod Id</label>
            <input type="number" class="form-control" name="podId" id="field_podId"
                [(ngModel)]="person.podId"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="jDiasApp.person.profile" for="field_profile">Profile</label>
            <select class="form-control" id="field_profile" name="profile" [(ngModel)]="person.profile">
                <option [ngValue]="null"></option>
                <option [ngValue]="ProfileOption.id === person.profile?.id ? person.profile : ProfileOption" *ngFor="let ProfileOption of profiles; trackBy: trackProfileById">{{ProfileOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jDiasApp.person.accountdeletion" for="field_accountdeletion">Accountdeletion</label>
            <select class="form-control" id="field_accountdeletion" name="accountdeletion" [(ngModel)]="person.accountdeletion">
                <option [ngValue]="null"></option>
                <option [ngValue]="AccountDeletionOption.id === person.accountdeletion?.id ? person.accountdeletion : AccountDeletionOption" *ngFor="let AccountDeletionOption of accountdeletions; trackBy: trackAccountDeletionById">{{AccountDeletionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jDiasApp.person.conversation" for="field_conversation">Conversation</label>
            <select class="form-control" id="field_conversation" multiple name="conversation" [(ngModel)]="person.conversations">
                <option [ngValue]="getSelected(person.conversations, ConversationOption)" *ngFor="let ConversationOption of conversations; trackBy: trackConversationById">{{ConversationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jDiasApp.person.userAccount" for="field_userAccount">User Account</label>
            <select class="form-control" id="field_userAccount" name="userAccount" [(ngModel)]="person.userAccount">
                <option [ngValue]="null"></option>
                <option [ngValue]="UserAccountOption.id === person.userAccount?.id ? person.userAccount : UserAccountOption" *ngFor="let UserAccountOption of useraccounts; trackBy: trackUserAccountById">{{UserAccountOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
