<div>
    <h2>
        <span jhiTranslate="jDiasApp.person.home.title">People</span>
        <button class="btn btn-primary float-right jh-create-entity create-person" [routerLink]="['/', { outlets: { popup: ['person-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jDiasApp.person.home.createLabel">
            Create new Person
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jDiasApp.person.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="people">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jDiasApp.person.guid">Guid</span></th>
            <th><span jhiTranslate="jDiasApp.person.diasporaId">Diaspora Id</span></th>
            <th><span jhiTranslate="jDiasApp.person.serializedPublicKey">Serialized Public Key</span></th>
            <th><span jhiTranslate="jDiasApp.person.createdAt">Created At</span></th>
            <th><span jhiTranslate="jDiasApp.person.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="jDiasApp.person.closedAccount">Closed Account</span></th>
            <th><span jhiTranslate="jDiasApp.person.fetchStatus">Fetch Status</span></th>
            <th><span jhiTranslate="jDiasApp.person.podId">Pod Id</span></th>
            <th><span jhiTranslate="jDiasApp.person.profile">Profile</span></th>
            <th><span jhiTranslate="jDiasApp.person.accountdeletion">Accountdeletion</span></th>
            <th><span jhiTranslate="jDiasApp.person.conversation">Conversation</span></th>
            <th><span jhiTranslate="jDiasApp.person.userAccount">User Account</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of people ;trackBy: trackId">
                <td><a [routerLink]="['../person', person.id ]">{{person.id}}</a></td>
                <td>{{person.guid}}</td>
                <td>{{person.diasporaId}}</td>
                <td>{{person.serializedPublicKey}}</td>
                <td>{{person.createdAt | date:'mediumDate'}}</td>
                <td>{{person.updatedAt | date:'mediumDate'}}</td>
                <td>{{person.closedAccount}}</td>
                <td>{{person.fetchStatus}}</td>
                <td>{{person.podId}}</td>
                <td>
                    <div *ngIf="person.profile">
                        <a [routerLink]="['../profile', person.profile?.id ]" >{{person.profile?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="person.accountdeletion">
                        <a [routerLink]="['../account-deletion', person.accountdeletion?.id ]" >{{person.accountdeletion?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let conversation of person.conversations; let last = last">
                            <a class="form-control-static" [routerLink]="['../conversation', conversation?.id ]">{{conversation.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="person.userAccount">
                        <a [routerLink]="['../user-account', person.userAccount?.id ]" >{{person.userAccount?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../person', person.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
