
<div *ngIf="aspectVisibility">
    <h2><span jhiTranslate="jDiasApp.aspectVisibility.detail.title">Aspect Visibility</span> {{aspectVisibility.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jDiasApp.aspectVisibility.createdAt">Created At</span></dt>
        <dd>
            <span>{{aspectVisibility.createdAt | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspectVisibility.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{aspectVisibility.updatedAt | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspectVisibility.aspect">Aspect</span></dt>
        <dd>
            <div *ngIf="aspectVisibility.aspectId">
                <a [routerLink]="['/aspect', aspectVisibility.aspectId]">{{aspectVisibility.aspectId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspectVisibility.post">Post</span></dt>
        <dd>
            <div *ngIf="aspectVisibility.postId">
                <a [routerLink]="['/post', aspectVisibility.postId]">{{aspectVisibility.postId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'aspect-visibility/'+ aspectVisibility.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
