
<div *ngIf="aspect">
    <h2><span jhiTranslate="jDiasApp.aspect.detail.title">Aspect</span> {{aspect.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jDiasApp.aspect.name">Name</span></dt>
        <dd>
            <span>{{aspect.name}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspect.createdAt">Created At</span></dt>
        <dd>
            <span>{{aspect.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspect.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{aspect.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspect.contactVisible">Contact Visible</span></dt>
        <dd>
            <span>{{aspect.contactVisible}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspect.chatEnabled">Chat Enabled</span></dt>
        <dd>
            <span>{{aspect.chatEnabled}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.aspect.postDefault">Post Default</span></dt>
        <dd>
            <span>{{aspect.postDefault}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'aspect/'+ aspect.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
