<div>
    <h2>
        <span jhiTranslate="jDiasApp.aspect.home.title">Aspects</span>
        <button class="btn btn-primary float-right create-aspect" [routerLink]="['/', { outlets: { popup: ['aspect-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jDiasApp.aspect.home.createLabel">
            Create new Aspect
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jDiasApp.aspect.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="aspects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jDiasApp.aspect.name">Name</span></th>
            <th><span jhiTranslate="jDiasApp.aspect.createdAt">Created At</span></th>
            <th><span jhiTranslate="jDiasApp.aspect.contactVisible">Contact Visible</span></th>
            <th><span jhiTranslate="jDiasApp.aspect.chatEnabled">Chat Enabled</span></th>
            <th><span jhiTranslate="jDiasApp.aspect.postDefault">Post Default</span></th>
            <th><span jhiTranslate="jDiasApp.aspect.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="jDiasApp.aspect.person">Person</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aspect of aspects ;trackBy: trackId">
                <td><a [routerLink]="['../aspect', aspect.id ]">{{aspect.id}}</a></td>
                <td>{{aspect.name}}</td>
                <td>{{aspect.createdAt | date:'mediumDate'}}</td>
                <td>{{aspect.contactVisible}}</td>
                <td>{{aspect.chatEnabled}}</td>
                <td>{{aspect.postDefault}}</td>
                <td>{{aspect.updatedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="aspect.person">
                        <a [routerLink]="['../person', aspect.person?.id ]" >{{aspect.person?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../aspect', aspect.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aspect/'+ aspect.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aspect/'+ aspect.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
