<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMessageLabel" jhiTranslate="jDiasApp.message.home.createOrEditLabel">Create or edit a Message</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!message.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="message.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.message.author" for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                [(ngModel)]="message.author"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.message.guid" for="field_guid">Guid</label>
            <input type="text" class="form-control" name="guid" id="field_guid"
                [(ngModel)]="message.guid"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.message.conversationGuid" for="field_conversationGuid">Conversation Guid</label>
            <input type="text" class="form-control" name="conversationGuid" id="field_conversationGuid"
                [(ngModel)]="message.conversationGuid"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.message.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="message.text"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.message.createdAt" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="message.createdAt"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="jDiasApp.message.conversation" for="field_conversation">Conversation</label>
            <select class="form-control" id="field_conversation" name="conversation" [(ngModel)]="message.conversation" >
                <option [ngValue]="null"></option>
                <option [ngValue]="conversationOption.id === message.conversation?.id ? message.conversation : conversationOption" *ngFor="let conversationOption of conversations; trackBy: trackConversationById">{{conversationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jDiasApp.message.person" for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" [(ngModel)]="message.person" >
                <option [ngValue]="null"></option>
                <option [ngValue]="personOption.id === message.person?.id ? message.person : personOption" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
