
<div *ngIf="retraction">
    <h2><span jhiTranslate="jDiasApp.retraction.detail.title">Retraction</span> {{retraction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jDiasApp.retraction.author">Author</span></dt>
        <dd>
            <span>{{retraction.author}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.retraction.targetguid">Targetguid</span></dt>
        <dd>
            <span>{{retraction.targetguid}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.retraction.targettype">Targettype</span></dt>
        <dd>
            <span jhiTranslate="{{'jDiasApp.Type.' + retraction.targettype}}">{{retraction.targettype}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'retraction/'+ retraction.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
