<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTagLabel" jhiTranslate="jDiasApp.tag.home.createOrEditLabel">Create or edit a Tag</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tag.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tag.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.tag.tagContext" for="field_tagContext">Tag Context</label>
            <input type="text" class="form-control" name="tagContext" id="field_tagContext"
                [(ngModel)]="tag.tagContext"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.tag.createdAt" for="field_createdAt">Created At</label>
            <div class="input-group">
                <input id="field_createdAt" type="text" class="form-control" name="createdAt" ngbDatepicker  #createdAtDp="ngbDatepicker" [(ngModel)]="tag.createdAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.tag.updatedAt" for="field_updatedAt">Updated At</label>
            <div class="d-flex">
                <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="tag.updatedAt"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="jDiasApp.tag.hashTag" for="field_hashTag">Hash Tag</label>
            <select class="form-control" id="field_hashTag" name="hashTag" [(ngModel)]="tag.hashTag" >
                <option [ngValue]="null"></option>
                <option [ngValue]="hashTagOption.id === tag.hashTag?.id ? tag.hashTag : hashTagOption" *ngFor="let hashTagOption of hashtags; trackBy: trackHashTagById">{{hashTagOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
