<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTagLabel" jhiTranslate="jDiasApp.tag.home.createOrEditLabel">Create or edit a Tag</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tag.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tag.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.tag.tagContext" for="field_tagContext">Tag Context</label>
            <input type="text" class="form-control" name="tagContext" id="field_tagContext"
                [(ngModel)]="tag.tagContext"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="jDiasApp.tag.tagpost" for="field_tagpost">Tagpost</label>
            <select class="form-control" id="field_tagpost" multiple name="tagpost" [(ngModel)]="tag.tagposts">
                <option [ngValue]="getSelected(tag.tagposts, PostOption)" *ngFor="let PostOption of posts; trackBy: trackPostById">{{PostOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jDiasApp.tag.tagperson" for="field_tagperson">Tagperson</label>
            <select class="form-control" id="field_tagperson" multiple name="tagperson" [(ngModel)]="tag.tagpeople">
                <option [ngValue]="getSelected(tag.tagpeople, PersonOption)" *ngFor="let PersonOption of people; trackBy: trackPersonById">{{PersonOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
