<div>
    <h2>
        <span jhiTranslate="jDiasApp.statusMessage.home.title">Status Messages</span>
        <button class="btn btn-primary float-right create-status-message" [routerLink]="['/', { outlets: { popup: ['status-message-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jDiasApp.statusMessage.home.createLabel">
            Create new Status Message
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jDiasApp.statusMessage.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>


<div class="col-sm-12">
    <div class="col-sm-2"></div>
        <div class="publisher-textarea-wrapper active" id="publisher_textarea_wrapper">

            <div class="mentions-input-box">

                <div class="mentions-box">
                    <div class="mentions"></div>
                </div>

                <div class="md-editor">
                    <div class="md-header btn-toolbar">
                        <ul class="nav nav-tabs btn-group write-preview-tabs">
                            <li class="active full-height" role="presentation"><a class="full-height md-write-tab" href="#" title="Edit message"><i class="visible-sm visible-xs visible-md  fa fa-pencil-square-o"></i><span class="hidden-sm hidden-xs hidden-md">Write</span></a></li>
                            <li class="full-height" role="presentation"><a class="full-height md-preview-tab" href="#" title="Preview message"><i class="visible-sm visible-xs visible-md fa fa-search"></i><span class="hidden-sm hidden-xs hidden-md tab-help-text">Preview</span></a></li>
                        </ul>
                        <div class="btn-group"><button class="btn-default btn-sm btn" type="button" title="Bold" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdBold" data-hotkey="Ctrl+B"><span class="fa fa-bold"></span> </button>
                            <button class="btn-default btn-sm btn" type="button" title="Italic" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdItalic" data-hotkey="Ctrl+I"><span class="fa fa-italic"></span> </button>
                            <button class="btn-default btn-sm btn" type="button" title="Heading" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdHeading" data-hotkey="Ctrl+H"><span class="fa fa-header"></span> </button>
                        </div>
                        <div class="btn-group"><button class="btn-default btn-sm btn" type="button" title="Insert link" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdUrl" data-hotkey="Ctrl+L"><span class="fa fa-link"></span> </button>
                            <button class="btn-default btn-sm btn" type="button" title="Insert image" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdImage" data-hotkey="Ctrl+G"><span class="fa fa-picture-o"></span> </button>
                        </div>
                        <div class="btn-group"><button class="btn-default btn-sm btn" type="button" title="Insert unordered list" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdList" data-hotkey="Ctrl+U"><span class="fa fa-list"></span> </button>
                            <button class="btn-default btn-sm btn" type="button" title="Insert ordered list" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdListO" data-hotkey="Ctrl+O"><span class="fa fa-list-ol"></span> </button>
                            <button class="btn-default btn-sm btn" type="button" title="Insert code" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdCode" data-hotkey="Ctrl+K"><span class="fa fa-code"></span> </button>
                            <button class="btn-default btn-sm btn" type="button" title="Insert quotation" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdQuote" data-hotkey="Ctrl+Q"><span class="fa fa-comment"></span> </button>
                        </div>
                        <div class="btn-group"><button class="btn-sm btn btn-primary hidden" type="button" title="Preview message" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdPreview" data-hotkey="Ctrl+P" data-toggle="button"><span class="fa fa-search"></span> Preview message</button></div>
                        <a class="md-cancel btn btn-sm btn-link hidden-xs pull-right" title="Cancel message"><i class="fa fa-trash-o"></i></a>
                    </div><textarea rows="2" tabindex="1" placeholder="Start a conversation..." [(ngModel)]="statusM.text" class="form-control md-input" name="status_message[fake_text]" id="status_message_fake_text" style="resize: none; overflow-x: hidden; word-wrap: break-word; height: 90px;"></textarea></div>

                <span class="twitter-typeahead" style="position: relative; display: inline-block;">

                <input class="typeahead-mention-box hidden tt-input" type="text" spellcheck="false" dir="auto" aria-owns="undefined_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;">

                <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px 0px 0px 0px); white-space: nowrap;"></span>

            <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>

            <div role="<listbox>    </listbox>" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">

                <div role="presentation" class="tt-dataset tt-dataset-1"></div>

            </div>
            </span>

            </div>

            <input value="" class="clear_on_submit hidden" name="status_message[text]" id="status_message_text">

            <div class="container-fluid photodropzone-container" id="photodropzone_container" [hidden]="isPhoto">
                <ul id="photodropzone"></ul>
            </div>

            <div class="location-container form-group" [hidden]="isLocation" style="padding: 4px 6px;">
                <span class="location_coords" id="location_coords">{{statusMessage.location_address}}</span>
            </div>

            <div class="poll-creator-container" id="poll_creator_container" [hidden]="isPoll">
                <div class="poll-question form-group">
                    <input class="input-block-level form-control" placeholder="Question" [(ngModel)]="statusMessage.poll_question"  type="text" name="poll_question">
                </div>
                <div class="poll-answers form-group clearfix row" *ngFor="let item of inputAnswers; let i = index; trackBy:trackPoll">
                    <div class="poll-answer form-group clearfix">
                        <div class="col-sm-9">
                            <input type="text" class="input-block-level form-control" [(ngModel)]="inputAnswers[i]" (keypress) = "pushArrayValue()" name="inputAnswers{{i}}" placeholder="Answer">
                        </div>
                        <div class="col-sm-1">
                            <i class="remove-answer fa fa-trash-o"></i>
                        </div>
                    </div>
<!--
                    <div class="poll-answer form-group clearfix">
                        <div class="col-sm-9">
                            <input type="text" class="input-block-level form-control" [(ngModel)]="inputAnswers[i]" name="poll_answers{{i}}" placeholder="Answer">
                        </div>
                        <div class="col-sm-1">
                            <i class="remove-answer fa fa-trash-o"></i>
                        </div>
                    </div>
-->
                </div>
            </div>

            <div id="button_container">
                <div class="publisher-buttonbar" id="publisher-images">
                    <div class="btn btn-link poll-creator" id="poll_creator" title="Add a poll" (click)="createPoll()">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="btn btn-link file-upload" id="file-upload" title="Upload photos" style="position: relative; overflow: hidden; direction: ltr;">
                        <i class="fa fa-camera publisher_image"></i>
                        <input type="file" (change)="onChange($event)" class="file" name="file" multiple = "true" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;"></div>
                    <div class="btn btn-link locator" id="locator" title="Get your location" [hidden]="!isLocation" (click)="getLocation()">

                        <i class="fa fa-map-marker publisher_image"></i>
                    </div>
                    <div class="btn btn-link hide-location" id="hide_location" title="Remove location" [hidden]="isLocation" (click)="removeLocation()">
                        <i class="fa fa-trash-o publisher_image"></i>
                    </div>
                </div>
                <span class="markdownIndications">
You can use <a target="blank" href="https://diasporafoundation.org/formatting">Markdown</a> to format your post
</span>
            </div>

        </div>
    <input type="hidden" name="aspect_ids[]" id="aspect_ids_" value="all_aspects">
    <div class="hidden" id="publisher_spinner">
        <div class="loader">
            <div class="spinner"></div>
        </div>
    </div>

    <div class="options_and_submit col-sm-12">
        <div class="public_toggle clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group aspect_dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-lock small" id="visibility-icon"></i>
                        <span class="text">
All aspects
</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" unselectable="on">
                        <li class="public radio" data-aspect_id="public">
                            <a>
                            <span class="status_indicator">
<i class="fa fa-ok"></i>
</span>
                                <span class="text">
Public
</span>
                            </a>
                        </li>
                        <li class="all_aspects radio selected" data-aspect_id="all_aspects">
                            <a>
                            <span class="status_indicator">
<i class="fa fa-ok"></i>
</span>
                                <span class="text">
All aspects
</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="aspect_selector" data-aspect_id="334">
                            <a>
                            <span class="status_indicator">
<i class="fa fa-ok"></i>
</span>
                                <span class="text">
Family
</span>
                            </a>
                        </li>
                        <li class="aspect_selector" data-aspect_id="335">
                            <a>
                            <span class="status_indicator">
<i class="fa fa-ok"></i>
</span>
                                <span class="text">
Friends
</span>
                            </a>
                        </li>
                        <li class="aspect_selector" data-aspect_id="336">
                            <a>
                            <span class="status_indicator">
<i class="fa fa-ok"></i>
</span>
                                <span class="text">
Work
</span>
                            </a>
                        </li>
                        <li class="aspect_selector" data-aspect_id="337">
                            <a>
                            <span class="status_indicator">
<i class="fa fa-ok"></i>
</span>
                                <span class="text">
Acquaintances
</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <button class="btn btn-group btn-primary" id="submit" [disabled]="isShareDisabled" (click)="saveStatusMessage()">Share</button>
            </div>
            <div class="btn-toolbar pull-right" id="publisher-service-icons">
                <div class="btn btn-link question_mark" data-target="#publicExplainModal" data-toggle="modal" title="Manage connected services">
                    <i class="fa fa-cog fa-spin fa-fw fa-lg"></i>
                </div>
            </div>
        </div>
    </div>

</div>



    <div class="table-responsive" *ngIf="statusMessages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jDiasApp.statusMessage.text">Text</span></th>
            <th><span jhiTranslate="jDiasApp.statusMessage.location">Location</span></th>
            <th><span jhiTranslate="jDiasApp.statusMessage.poll">Poll</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let statusMessage of statusMessages ;trackBy: trackId">
                <td><a [routerLink]="['../status-message', statusMessage.id ]">{{statusMessage.id}}</a></td>
                <td>{{statusMessage.text}}</td>
                <td>
                    <div *ngIf="statusMessage.location">
                        <a [routerLink]="['../location', statusMessage.location?.id ]" >{{statusMessage.location?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="statusMessage.poll">
                        <a [routerLink]="['../poll', statusMessage.poll?.id ]" >{{statusMessage.poll?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../status-message', statusMessage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'status-message/'+ statusMessage.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'status-message/'+ statusMessage.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
