<nav class="navbar navbar-inverse navbar-fixed-top jh-navbar" [ngSwitch]="isAuthenticated()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="https://joindiaspora.com/stream" class="navbar-brand" data-stream-title="Stream">
                        JDias*
                    </a>
                    <ul class="nav nav-badges visible-sm">
                        <li *ngSwitchCase="true">
                            <a href="https://joindiaspora.com/notifications" title="Notifications"
                               class="notifications-link nav-badge"
                               routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <i class="entypo-bell"></i>
                                <span class="badge badge-important  hidden">0</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a href="https://joindiaspora.com/conversations" title="Conversations"
                               class="conversations-link nav-badge"
                               routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <i class="entypo-mail"></i>
                                <span class="badge badge-important  hidden ">0</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li *ngSwitchCase="true">
                            <a href="https://joindiaspora.com/stream"
                               routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                Stream
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a href="https://joindiaspora.com/activity"
                               routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                My activity
                            </a>
                        </li>
                        <li *ngSwitchCase="true" class="visible-xs">
                            <a href="https://joindiaspora.com/notifications"
                               routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                Notifications
                            </a>
                        </li>
                        <li *ngSwitchCase="true" class="visible-xs">
                            <a href="https://joindiaspora.com/conversations" routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                Conversations
                            </a>
                        </li>
                        <li *ngSwitchCase="true" class="visible-sm visible-xs">
                            <a href="https://joindiaspora.com/mobile/toggle" routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                Toggle
                            mobile
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-left nav-badges hidden-sm hidden-xs">
                        <li *ngSwitchCase="true" class="dropdown" id="notification-dropdown">
                            <a id="notifications-link" href="https://joindiaspora.com/notifications"
                               title="Notifications" class="notifications-link nav-badge hidden-sm hidden-xs"
                               role="button" data-toggle="dropdown" aria-expanded="false" data-target=" ">
                                <i class="entypo-bell"></i>
                                <span class="badge badge-important  hidden">0</span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <div class="header">
                                    <div class="pull-right">
                                        <a href="https://joindiaspora.com/stream#" id="mark-all-read-link"
                                           class="btn btn-default btn-sm disabled">
                                            Mark all as read
                                        </a>
                                    </div>
                                    <h4>
                                        Recent notifications
                                    </h4>
                                </div>
                                <div class="ajax-loader" style="display: none;">
                                    <div class="spinner" style="opacity: 1;"></div>
                                </div>
                                <div class="notifications ps-container ps-theme-default"
                                     data-ps-id="bfcb3a65-e03e-0167-a8b2-ee4bb554d5b8">
                                    <div class="media read stream-element" data-guid="6046011"
                                         data-type="started_sharing">
                                        <div class="unread-toggle pull-right">
                                            <i class="entypo-eye" title="" data-original-title="Mark unread"></i>
                                        </div>
                                        <div class="media-object pull-left">
                                            <a href="https://joindiaspora.com/people/7bca7c80311b01332d046c626dd55703"
                                               class="hovercardable hovercardable">
                                                <!--<img alt="diaspora* HQ" class="avatar img-responsive center-block" title="diaspora* HQ" data-person_id="609502" src="./JoinDiaspora__files/thumb_small_0f0e529bef78176741dc.png">-->
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a data-hovercard="/people/7bca7c80311b01332d046c626dd55703"
                                               href="https://joindiaspora.com/people/7bca7c80311b01332d046c626dd55703"
                                               class="hovercardable hovercardable">diaspora* HQ</a> started sharing
                                            with you.
                                            <div>
                                                <time datetime="2017-06-16T06:59:21Z" class="timeago" title=""
                                                      data-time-ago="2017-06-16T06:59:21Z"
                                                      data-original-title="16.06.2017, 9:59:21">about an hour ago
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                        <div class="ps-scrollbar-x" tabindex="0"
                                             style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                                        <div class="ps-scrollbar-y" tabindex="0"
                                             style="top: 0px; height: 0px;"></div>
                                    </div>
                                </div>
                                <div class="view_all">
                                    <a href="https://joindiaspora.com/notifications" id="view_all_notifications">
                                        View all
                                    </a>
                                </div>
                            </ul>

                        </li>

                        <li *ngSwitchCase="true">
                            <a id="conversations-link" href="https://joindiaspora.com/conversations"
                               title="Conversations" class="conversations-link nav-badge hidden-sm hidden-xs"
                               routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <i class="entypo-mail"></i>
                                <span class="badge badge-important  hidden ">0</span>
                            </a>
                        </li>
                    </ul>

                    <ul *ngSwitchCase="true" class="nav navbar-nav navbar-right">
                        <li ngbDropdown class="dropdown" id="user_menu">
                            <a href="#<!--https://joindiaspora.com/people/3d4b7ee0348f0135f65c0242ac110007-->"
                               ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <span class="user-avatar pull-left">
                                        <img src="/context/images/default-avatar.png"
                                             class="small avatar img-responsive center-block"
                                             title="brownjone@joindiaspora.com" alt="brownjone@joindiaspora.com">
                                    </span>
                                <span class="user-name">brownjone@joindiaspora.com</span>
                                <!--<span class="caret"></span>-->
                            </a>

                            <ul class="dropdown-menu" role="menu" ngbDropdownMenu>
                                <li>
                                    <a href="https://joindiaspora.com/people/3d4b7ee0348f0135f65c0242ac110007"
                                       routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="https://joindiaspora.com/contacts"
                                       routerLink="message" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Contacts
                                    </a>
                                </li>
                                <li>
                                    <a href="https://joindiaspora.com/user/edit"
                                       >
                                        Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="https://diasporafoundation.org/tutorials">
                                        Help
                                    </a>
                                </li>
                                <li>
                                    <a (click)="logout()" id="logout">
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li *ngSwitchCase="false">
                            <a class="login" id="login"
                               (click)="login()">
                                <span class="glyphicon glyphicon-log-in"></span> Sign In
                            </a>
                        </li>
                        <li *ngSwitchCase="false" >
                            <a class="sign_up"
                               routerLink="register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <span class="glyphicon glyphicon-user"></span> Sign Up
                            </a>
                        </li>
                    </ul>


                    <form *ngSwitchCase="true" id="header-search-form" accept-charset="UTF-8" action="https://joindiaspora.com/search"
                          class="navbar-form navbar-right" role="search" method="get">
                        <div class="form-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;"><input id="q" name="q"
                                                                                                placeholder="Search"
                                                                                                results="5"
                                                                                                type="search"
                                                                                                autocomplete="off"
                                                                                                class="form-control input-sm tt-input"
                                                                                                spellcheck="false"
                                                                                                dir="auto"
                                                                                                aria-activedescendant=""
                                                                                                aria-owns="q_listbox"
                                                                                                role="combobox"
                                                                                                aria-readonly="true"
                                                                                                aria-autocomplete="list"
                                                                                                style="position: relative; vertical-align: top;"><span
                                    role="status" aria-live="polite"
                                    style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px 0px 0px 0px); white-space: nowrap;"></span><pre
                                    aria-hidden="true"
                                    style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 11px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><div
                                    role="listbox" class="tt-menu"
                                    style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                    role="presentation" class="tt-dataset tt-dataset-0"></div></div></span>
                        </div>
                        <input name="utf8" type="hidden" value="1">
                    </form>
                </div>
            </div>
        </div>
    </div>

</nav>


