<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserAccountLabel" jhiTranslate="jDiasApp.userAccount.home.createOrEditLabel">Create or edit a User Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userAccount.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.serializedPrivateKey" for="field_serializedPrivateKey">Serialized Private Key</label>
            <input type="text" class="form-control" name="serializedPrivateKey" id="field_serializedPrivateKey"
                [(ngModel)]="userAccount.serializedPrivateKey"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.gettingStarted" for="field_gettingStarted">Getting Started</label>
            <input type="checkbox" class="form-control" name="gettingStarted" id="field_gettingStarted"
                [(ngModel)]="userAccount.gettingStarted"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.disableMail" for="field_disableMail">Disable Mail</label>
            <input type="checkbox" class="form-control" name="disableMail" id="field_disableMail"
                [(ngModel)]="userAccount.disableMail"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.language" for="field_language">Language</label>
            <input type="text" class="form-control" name="language" id="field_language"
                [(ngModel)]="userAccount.language"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.rememberCreatedAt" for="field_rememberCreatedAt">Remember Created At</label>
            <div class="input-group">
                <input id="field_rememberCreatedAt" type="text" class="form-control" name="rememberCreatedAt" ngbDatepicker  #rememberCreatedAtDp="ngbDatepicker" [(ngModel)]="userAccount.rememberCreatedAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="rememberCreatedAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.signInCount" for="field_signInCount">Sign In Count</label>
            <input type="number" class="form-control" name="signInCount" id="field_signInCount"
                [(ngModel)]="userAccount.signInCount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.currentSignInAt" for="field_currentSignInAt">Current Sign In At</label>
            <div class="input-group">
                <input id="field_currentSignInAt" type="text" class="form-control" name="currentSignInAt" ngbDatepicker  #currentSignInAtDp="ngbDatepicker" [(ngModel)]="userAccount.currentSignInAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="currentSignInAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.lastSignInAt" for="field_lastSignInAt">Last Sign In At</label>
            <div class="input-group">
                <input id="field_lastSignInAt" type="text" class="form-control" name="lastSignInAt" ngbDatepicker  #lastSignInAtDp="ngbDatepicker" [(ngModel)]="userAccount.lastSignInAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="lastSignInAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.currentSignInIp" for="field_currentSignInIp">Current Sign In Ip</label>
            <input type="text" class="form-control" name="currentSignInIp" id="field_currentSignInIp"
                [(ngModel)]="userAccount.currentSignInIp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.lastSignInIp" for="field_lastSignInIp">Last Sign In Ip</label>
            <input type="text" class="form-control" name="lastSignInIp" id="field_lastSignInIp"
                [(ngModel)]="userAccount.lastSignInIp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.createdAt" for="field_createdAt">Created At</label>
            <div class="input-group">
                <input id="field_createdAt" type="text" class="form-control" name="createdAt" ngbDatepicker  #createdAtDp="ngbDatepicker" [(ngModel)]="userAccount.createdAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.updatedAt" for="field_updatedAt">Updated At</label>
            <div class="input-group">
                <input id="field_updatedAt" type="text" class="form-control" name="updatedAt" ngbDatepicker  #updatedAtDp="ngbDatepicker" [(ngModel)]="userAccount.updatedAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="updatedAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.lockedAt" for="field_lockedAt">Locked At</label>
            <div class="input-group">
                <input id="field_lockedAt" type="text" class="form-control" name="lockedAt" ngbDatepicker  #lockedAtDp="ngbDatepicker" [(ngModel)]="userAccount.lockedAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="lockedAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.showCommunitySpotlightInStream" for="field_showCommunitySpotlightInStream">Show Community Spotlight In Stream</label>
            <input type="checkbox" class="form-control" name="showCommunitySpotlightInStream" id="field_showCommunitySpotlightInStream"
                [(ngModel)]="userAccount.showCommunitySpotlightInStream"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.autoFollowBack" for="field_autoFollowBack">Auto Follow Back</label>
            <input type="checkbox" class="form-control" name="autoFollowBack" id="field_autoFollowBack"
                [(ngModel)]="userAccount.autoFollowBack"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.autoFollowBackAspectId" for="field_autoFollowBackAspectId">Auto Follow Back Aspect Id</label>
            <input type="number" class="form-control" name="autoFollowBackAspectId" id="field_autoFollowBackAspectId"
                [(ngModel)]="userAccount.autoFollowBackAspectId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.hiddenShareables" for="field_hiddenShareables">Hidden Shareables</label>
            <input type="text" class="form-control" name="hiddenShareables" id="field_hiddenShareables"
                [(ngModel)]="userAccount.hiddenShareables"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.lastSeen" for="field_lastSeen">Last Seen</label>
            <div class="input-group">
                <input id="field_lastSeen" type="text" class="form-control" name="lastSeen" ngbDatepicker  #lastSeenDp="ngbDatepicker" [(ngModel)]="userAccount.lastSeen"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="lastSeenDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.exportE" for="field_exportE">Export E</label>
            <input type="text" class="form-control" name="exportE" id="field_exportE"
                [(ngModel)]="userAccount.exportE"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.exportedAt" for="field_exportedAt">Exported At</label>
            <div class="input-group">
                <input id="field_exportedAt" type="text" class="form-control" name="exportedAt" ngbDatepicker  #exportedAtDp="ngbDatepicker" [(ngModel)]="userAccount.exportedAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="exportedAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.exporting" for="field_exporting">Exporting</label>
            <input type="checkbox" class="form-control" name="exporting" id="field_exporting"
                [(ngModel)]="userAccount.exporting"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.stripExif" for="field_stripExif">Strip Exif</label>
            <input type="checkbox" class="form-control" name="stripExif" id="field_stripExif"
                [(ngModel)]="userAccount.stripExif"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.exportedPhotosFile" for="field_exportedPhotosFile">Exported Photos File</label>
            <input type="text" class="form-control" name="exportedPhotosFile" id="field_exportedPhotosFile"
                [(ngModel)]="userAccount.exportedPhotosFile"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.exportedPhotosAt" for="field_exportedPhotosAt">Exported Photos At</label>
            <div class="input-group">
                <input id="field_exportedPhotosAt" type="text" class="form-control" name="exportedPhotosAt" ngbDatepicker  #exportedPhotosAtDp="ngbDatepicker" [(ngModel)]="userAccount.exportedPhotosAt"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="exportedPhotosAtDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.exportingPhotos" for="field_exportingPhotos">Exporting Photos</label>
            <input type="checkbox" class="form-control" name="exportingPhotos" id="field_exportingPhotos"
                [(ngModel)]="userAccount.exportingPhotos"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.colorTheme" for="field_colorTheme">Color Theme</label>
            <input type="text" class="form-control" name="colorTheme" id="field_colorTheme"
                [(ngModel)]="userAccount.colorTheme"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.userAccount.postDefaultPublic" for="field_postDefaultPublic">Post Default Public</label>
            <input type="checkbox" class="form-control" name="postDefaultPublic" id="field_postDefaultPublic"
                [(ngModel)]="userAccount.postDefaultPublic"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="jDiasApp.userAccount.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userAccount.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === userAccount.user?.id ? userAccount.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jDiasApp.userAccount.person" for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" [(ngModel)]="userAccount.person">
                <option [ngValue]="null"></option>
                <option [ngValue]="personOption.id === userAccount.person?.id ? userAccount.person : personOption" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
