
<div *ngIf="avatar">
    <h2><span jhiTranslate="jDiasApp.avatar.detail.title">Avatar</span> {{avatar.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jDiasApp.avatar.imageUrlSmall">Image Url Small</span></dt>
        <dd>
            <span>{{avatar.imageUrlSmall}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.avatar.imageUrl">Image Url</span></dt>
        <dd>
            <span>{{avatar.imageUrl}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.avatar.imageUrlMedium">Image Url Medium</span></dt>
        <dd>
            <span>{{avatar.imageUrlMedium}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'avatar/'+ avatar.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
