<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAspectVisiblityLabel" jhiTranslate="jDiasApp.aspectVisiblity.home.createOrEditLabel">Create or edit a Aspect Visiblity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!aspectVisiblity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="aspectVisiblity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.aspectVisiblity.postType" for="field_postType">Post Type</label>
            <select class="form-control" name="postType" [(ngModel)]="aspectVisiblity.postType" id="field_postType" >
                <option value="STATUSMESSAGE" jhiTranslate="jDiasApp.PostType.STATUSMESSAGE">STATUSMESSAGE</option>
                <option value="RESHARE" jhiTranslate="jDiasApp.PostType.RESHARE">RESHARE</option>
            </select>
        </div>

        <div class="form-group">
            <label jhiTranslate="jDiasApp.aspectVisiblity.aspect" for="field_aspect">Aspect</label>
            <select class="form-control" id="field_aspect" name="aspect" [(ngModel)]="aspectVisiblity.aspect" >
                <option [ngValue]="null"></option>
                <option [ngValue]="aspectOption.id === aspectVisiblity.aspect?.id ? aspectVisiblity.aspect : aspectOption" *ngFor="let aspectOption of aspects; trackBy: trackAspectById">{{aspectOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jDiasApp.aspectVisiblity.post" for="field_post">Post</label>
            <select class="form-control" id="field_post" name="post" [(ngModel)]="aspectVisiblity.post" >
                <option [ngValue]="null"></option>
                <option [ngValue]="postOption.id === aspectVisiblity.post?.id ? aspectVisiblity.post : postOption" *ngFor="let postOption of posts; trackBy: trackPostById">{{postOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
