
<div *ngIf="accountDeletion">
    <h2><span jhiTranslate="jDiasApp.accountDeletion.detail.title">Account Deletion</span> {{accountDeletion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jDiasApp.accountDeletion.author">Author</span></dt>
        <dd>
            <span>{{accountDeletion.author}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'account-deletion/'+ accountDeletion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
