
<div *ngIf="like">
    <h2><span jhiTranslate="jDiasApp.like.detail.title">Like</span> {{like.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jDiasApp.like.author">Author</span></dt>
        <dd>
            <span>{{like.author}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.like.guid">Guid</span></dt>
        <dd>
            <span>{{like.guid}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.like.parentGuid">Parent Guid</span></dt>
        <dd>
            <span>{{like.parentGuid}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.like.parentType">Parent Type</span></dt>
        <dd>
            <span jhiTranslate="{{'jDiasApp.Type.' + like.parentType}}">{{like.parentType}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.like.positive">Positive</span></dt>
        <dd>
            <span>{{like.positive}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.like.authorSignature">Author Signature</span></dt>
        <dd>
            <span>{{like.authorSignature}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.like.parentAuthorSignature">Parent Author Signature</span></dt>
        <dd>
            <span>{{like.parentAuthorSignature}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.like.post">Post</span></dt>
        <dd>
            <div *ngIf="like.post">
                <a [routerLink]="['/post', like.post?.id]">{{like.post?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jDiasApp.like.person">Person</span></dt>
        <dd>
            <div *ngIf="like.person">
                <a [routerLink]="['/person', like.person?.id]">{{like.person?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jDiasApp.like.person">Person</span></dt>
        <dd>
            <div *ngIf="like.person">
                <a [routerLink]="['/person', like.person?.id]">{{like.person?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'like/'+ like.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
