<div>
    <h2>
        <span jhiTranslate="jDiasApp.like.home.title">Likes</span>
        <button class="btn btn-primary float-right jh-create-entity create-like" [routerLink]="['/', { outlets: { popup: ['like-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jDiasApp.like.home.createLabel">
            Create new Like
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jDiasApp.like.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="likes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jDiasApp.like.author">Author</span></th>
            <th><span jhiTranslate="jDiasApp.like.guid">Guid</span></th>
            <th><span jhiTranslate="jDiasApp.like.parentGuid">Parent Guid</span></th>
            <th><span jhiTranslate="jDiasApp.like.parentType">Parent Type</span></th>
            <th><span jhiTranslate="jDiasApp.like.positive">Positive</span></th>
            <th><span jhiTranslate="jDiasApp.like.authorSignature">Author Signature</span></th>
            <th><span jhiTranslate="jDiasApp.like.parentAuthorSignature">Parent Author Signature</span></th>
            <th><span jhiTranslate="jDiasApp.like.post">Post</span></th>
            <th><span jhiTranslate="jDiasApp.like.person">Person</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let like of likes ;trackBy: trackId">
                <td><a [routerLink]="['../like', like.id ]">{{like.id}}</a></td>
                <td>{{like.author}}</td>
                <td>{{like.guid}}</td>
                <td>{{like.parentGuid}}</td>
                <td jhiTranslate="{{'jDiasApp.Type.' + like.parentType}}">{{like.parentType}}</td>
                <td>{{like.positive}}</td>
                <td>{{like.authorSignature}}</td>
                <td>{{like.parentAuthorSignature}}</td>
                <td>
                    <div *ngIf="like.post">
                        <a [routerLink]="['../post', like.post?.id ]" >{{like.post?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="like.person">
                        <a [routerLink]="['../person', like.person?.id ]" >{{like.person?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../like', like.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'like/'+ like.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'like/'+ like.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
