
<div *ngIf="interaction">
    <h2><span jhiTranslate="jDiasApp.interaction.detail.title">Interaction</span> {{interaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jDiasApp.interaction.likescount">Likescount</span></dt>
        <dd>
            <span>{{interaction.likescount}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.interaction.resharescount">Resharescount</span></dt>
        <dd>
            <span>{{interaction.resharescount}}</span>
        </dd>
        <dt><span jhiTranslate="jDiasApp.interaction.commentscount">Commentscount</span></dt>
        <dd>
            <span>{{interaction.commentscount}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'interaction/'+ interaction.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
