<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInteractionLabel" jhiTranslate="jDiasApp.interaction.home.createOrEditLabel">Create or edit a Interaction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!interaction.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="interaction.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.interaction.likescount" for="field_likescount">Likescount</label>
            <input type="number" class="form-control" name="likescount" id="field_likescount"
                [(ngModel)]="interaction.likescount"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.interaction.resharescount" for="field_resharescount">Resharescount</label>
            <input type="number" class="form-control" name="resharescount" id="field_resharescount"
                [(ngModel)]="interaction.resharescount"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jDiasApp.interaction.commentscount" for="field_commentscount">Commentscount</label>
            <input type="number" class="form-control" name="commentscount" id="field_commentscount"
                [(ngModel)]="interaction.commentscount"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
